<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QTY_CONTROL_EXT</title>
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/styles.css">
	<script src="scripts/vue.js"></script>
	
</head>
<body>
	<div class="wrapper">
		<div class="app">
			<div class="one">
				<div class="input-wrapper">
					<label>Номер Магазина</label>
					<input class="form-control" type="number" v-model="{{ id }}">
				</div>
				<div class="input-wrapper">
					<label>Дата</label>
					<input class="form-control" type="text" v-model="{{ date }}">
				</div>
				<!-- <div class="input-wrapper">
					<label>Від</label>
					<input class="form-control" type="number" v-model="id">
				</div> -->
				<button class="one__search">Шукати</button>
			</div>
			<div class="some">

			</div>
		</div>
	</div>


	<script>
		vue.createApp({
			data : ()=> ({
				id : 313,
				date : '24.11.2022'
			}),
			computed: {

			},
			methods: {

			}
		})
	</script>
</body>
</html>